{# Custom widget template for CustomVideoField. #}

Is initial: {{ widget.is_initial }}

{% if widget.is_initial %}
  <div class="django-form-builder-video-initial">
    {{ widget.initial_text }}:
    {% if widget.value and widget.value.url %}
      <a href="{{ widget.value.url }}">{{ widget.value }}</a>
      <div style="margin-top: 0.5rem;">
        <video controls style="max-width: 100%; height: auto;">
          <source src="{{ widget.value.url }}">
        </video>
      </div>
    {% else %}
      {{ widget.value }}
    {% endif %}

    {% if not widget.required %}
      <div style="margin-top: 0.25rem;">
        <input
          type="checkbox"
          name="{{ widget.checkbox_name }}"
          id="{{ widget.checkbox_id }}"
          {% if widget.attrs.disabled %}disabled{% endif %}
        >
        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
      </div>
    {% endif %}
  </div>
{% endif %}

<div class="django-form-builder-video-input" {% if widget.is_initial %}style="margin-top: 0.5rem;"{% endif %}>
  <label {% if widget.attrs.id %}for="{{ widget.attrs.id }}"{% endif %}>
    {{ widget.input_text }}:
  </label>
  <!--<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>-->
  <input class="file-input" type="file" name="{{ widget.name }}" accept="video/*" {% include "django/forms/widgets/attrs.html" %}>
  <button id="startUpload" class="button is-link is-light" type="button">Subir video</button>

  <div class="field" style="margin-top: 1rem; max-width: 340px;">
    <div class="control">
      <progress
        class="progress is-info"
        id="progressBar"
        value="0"
        max="100"
        style="margin-bottom: 0;"
      >0%</progress>
    </div>
    <span id="progressText" style="font-size: 0.95em;">0%</span>
  </div>
</div>
